*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "微软雅黑";
	border:0px solid #FFF;
	text-decoration: none;
}

.section1{
	background:#3970d7 url(../images/1.jpg) center bottom no-repeat;
	width: 100%;
	background-size: cover;
	position: relative;
}


.section1 .header{
	height:108px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.section1 .header .header_bg{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.2;
	position: absolute;
	z-index: 1;
	top:0px;
	left: 0px;
}

.section1 .header .header_con{
	width: 1150px;
	margin-top:45px;
	margin-left:-575px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top:0px;
	z-index: 2;
}

.section1 .header .header_con .logo{
	float: left;
}

.section1 .header .header_con ul{
	float: right;
}

.section1 .header .header_con ul li{
	float: left;
	width: 115px;
	text-align: center;
	margin-top:15px;
}

.section1 .header .header_con ul li a{
	color: #FFF;	
	font-size: 16px;
}

.section1 .title-img{
	display: block;
	margin: 182px auto 0px;
}

.section1 .title-btn{
	display: block;
	cursor: pointer;	
	position: absolute;
	left:50%;
	margin-left:-39px;
	bottom:20px;
}


.section2{
	height: 570px;
	width: 100%;
	overflow: hidden;
	position: relative;
}

.section2 .service_title{
	position: absolute;
	left:50%;
	top:35px;
	margin-left:-275px;
	z-index:900;
}


.section2 ul{
	position: absolute;
	left:50%;
	bottom:0px;
	margin-left: -575px;
	width:1150px;
	height:345px;
	text-align: center;
	overflow: hidden;
}

.section2 ul li{
	position: absolute;
	display: inline-block;
	height:310px;
	width:238px;
	top:0px;
	overflow: hidden;
}

.section2 ul .item1{
	left:10px;
}
.section2 ul .item2{
	left:305px;
}

.section2 ul .item3{
	left:605px;
}

.section2 ul .item4{
	left:905px;
}
.section2 ul .item1 .item_con{
	position: absolute;
	left:0px;
	top:0px;
	z-index: 900;
	width:100%;
	height:100%;
}

.section2 ul .item1 .service_bg{
	background: #08ACDB;
	height:100%;
	width:100%;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 899;	
}


.section2 ul .item2 .item_con{
	position: absolute;
	left:0px;
	top:0px;
	z-index: 900;
	width:100%;
	height:100%;
}

.section2 ul .item2 .service_bg{
	background: #94BF2C;
	height:100%;
	width:100%;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 899;	
}

.section2 ul .item3 .item_con{
	position: absolute;
	left:0px;
	top:0px;
	z-index: 900;
	width:100%;
	height:100%;
}

.section2 ul .item3 .service_bg{
	background: #13C0CE;
	height:100%;
	width:100%;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 899;	
}

.section2 ul .item_con{
	color: #FFF;
}
.section2 ul .item_con div{
	font-size: 20px;
	height:105px;
	width: 100%;
	line-height: 126px;
}

.section2 ul .item_con img{
	display: block;
	margin:0 auto;
}

.section2 ul .item_con p{
	font-size: 14px;
	line-height: 26px;
	width:210px;
	margin:40px auto 0px;
	text-align: left;

}

.section2 ul .item4 .item_con{
	position: absolute;
	left:0px;
	top:0px;
	z-index: 900;
	width:100%;
	height:100%;
}

.section2 ul .item4 .service_bg{
	background: #8C97CB;
	height:100%;
	width:100%;
	position: absolute;
	left:0px;
	top:0px;
	z-index: 899;	
}

.section3{
	width: 100%;
	height: 580px;
	overflow: hidden;
	background: url('../images/s3_bg.jpg') no-repeat;
	position: relative;
	background-size: cover;	
}

.section3 .s3_title{
	position: absolute;
	left:50%;
	top:38px;
	margin-left:-280px; 
	z-index:900;
}

.section3 ul{
	width:1150px;
	height:218px;
	margin-left:-575px;
	position: absolute;
	left:50%;
	top:245px;
	overflow: hidden;
}

.section3 ul li{
	position: absolute;
	top:0px;
	width: 320px;
	cursor:pointer;
	color: #FFF;	
	-webkit-transition: color .6s;
	-moz-transition: color .6s;
	-ms-transition: color .6s;
	-o-transition: color .6s;
	transition: color .6s;
} 

.section3 ul li:hover{
	color:#32EEC0;
}

.section3 ul li:hover div{
	background: url('../images/s3_item_bg1.png');
}

.section3 ul li div{
	background: url('../images/s3_item_bg.png');
}


.section3 ul .s3_item1{
	/*left:100%;*/
	left:0px;
}
.section3 ul .s3_item2{
	/*left:100%;*/
	left:410px;	
}
.section3 ul .s3_item3{
	/*left:100%;*/
	left:845px;	
}

.section3 ul li div{
	width:137px;
	height:147px;
	line-height: 147px;
	text-align: center;
	font-size: 48px;
	position: relative;
	margin: 0 auto;
}

.section3 ul li img{
	width:100%;
	height:100%;
	position: absolute;
	display: block;
}

.section3 ul li p{
	text-align: center;
	line-height:28px;
	margin-top:15px;
}


.button{
	-webkit-transition: width .5s;
	-moz-transition: width .5s;
	-ms-transition: width .5s;
	-o-transition: width .5s;
	transition: width .5s;
	display: block;
	width:120px;
	text-align: center;
	height:38px;
	line-height: 38px;
	border:2px solid #FFF;
	color:#FFF;
	border-radius: 22px;
	font-size: 17px;
}

.button:hover{
	width:200px;
}
.div_btn{
	position: absolute;
	height:38px;
	width:100%;
	bottom:35px;
}

.section3 .s3_button{
	margin-left:auto;
	margin-right:auto;
	opacity: 1;
}

.section4{
	width: 100%;
	height: 590px;
	overflow: hidden;
	position: relative;
}


.section4 .s4_title{
	position: absolute;
	left:50%;
	top:35px;
	margin-left:-280px; 
	z-index:900;
}

.section4 ul{
	width:1150px;
	height:190px;
	margin-left:-575px;
	position: absolute;
	left:50%;
	top:270px;
	overflow: hidden;
}

.section4 ul li{
	position: absolute;
	top:0px;
	width: 300px;
	height:200px;
	cursor:pointer;
	overflow: hidden;
} 

.section4 ul li img,.section4 ul li .s4_bg{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top:0px;
}

.section4 ul li .s4_bg{
	opacity: 0;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}

.section4 ul li:hover .s4_bg{
	opacity: 1;
}

.section4 ul .s4_item1{
	left:0%;
}
.section4 ul .s4_item2{
	left:25%;
}
.section4 ul .s4_item3{
	left:50%;
}
.section4 ul .s4_item4{
	left:75%;
}

.section4 ul li div{
	width:137px;
	height:147px;
	line-height: 147px;
	text-align: center;
	font-size: 48px;
	position: relative;
	margin: 0 auto;
}

.section4 .s4_button{
	margin-left:auto;
	margin-right:auto;
	color: #9D9EA0;
	border-color: #9D9EA0;
}


.section5{
	width: 100%;
	height: 580px;
	overflow: hidden;
	position: relative;
	background: url('../images/s5_bg.jpg');	
}


.section5 .s5_title{
	position: absolute;
	left:50%;
	top:35px;
	margin-left:-280px; 
	z-index:900;
}

.section5 ul{
	width:1200px;
	height:225px;
	margin-left:-600px;
	position: absolute;
	left:50%;
	top:240px;
	overflow: hidden;
	text-align: center;
}

.section5 ul li{
	position: relative;
	text-align: left;
	display: inline-block;
	width: 235px;
	height:195px;
	margin-left:15px;
	margin-right:15px;
	padding:15px;
	cursor:pointer;
	overflow: hidden;
	color:#FFF;
	font-size: 14px;
	line-height: 26px;
	/*opacity: 0;*/
} 



.section5 ul li .s5_item_title{
	font-size: 18px;
	height:80px;
	line-height: 80px;
	margin-top:10px;
}

.section5 ul li .s5_item_bg{
	width:100%;
	height:100%;
	background: #000;
	opacity: 0.1;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 800;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;	
}

.section5 ul li:hover .s5_item_bg{
	opacity:1;
	background: #26A8D6;
}

.section5 ul li .s5_item_con{
	width:235px;
	height:195px;
	position: absolute;
	left: 15px;
	bottom: 45px;
	z-index: 900;
	overflow: hidden;
}


.section5 .s5_button{
	margin-left:auto;
	margin-right:auto;
}

.section6{
	width: 100%;
	height: 430px;
	overflow: hidden;
	background: #F0F3F9;	
	position: relative;
}


.section6 .s6_title{
	position: absolute;
	left:50%;
	top:35px;
	margin-left:-200px; 
	z-index:900;
	display: block;	
}

.section6 .contact{
	width:100%;
	height:190px;
	border-top:1px solid #BAB9B9;
	position: absolute;
	bottom:0px;
}


.section6 .contact ul{
	width: 1150px;
	position: absolute;
	left:50%;

	margin-left: -575px;
	height:100%;
	z-index: 900;
	overflow: hidden;
}

.section6 .contact ul li{
	text-align: center;
	width:300px;
	height:150px;
	line-height: 150px;
	position: absolute;
	top:20px;
}

.section6 .contact ul li img{
	vertical-align: middle;
}

.contact_bottom{
	height:36px;
	line-height: 36px;
	width: 100%;
	background: #335891;
}

.contact_bottom p{
	color: #FFF;
	width: 1150px;
	margin:0 auto;
	text-align: left;
	font-size: 14px;
}

.contact_bottom p span{
	float: right;
}


