*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-family: "微软雅黑";
	border:0px solid #FFF;
}


.header{
	height:108px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.header .header_bg{
	width: 100%;
	height: 100%;
	background: #FEFEFE;
	position: absolute;
	z-index: 1;
	top:0px;
	left: 0px;
}

.header .header_con{
	width: 1150px;
	margin-top:45px;
	margin-left:-575px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	top:0px;
	z-index: 2;
}

.header .header_con .logo{
	float: left;
}

.header .header_con ul{
	float: right;
}

.header .header_con ul li{
	float: left;
	width: 115px;
	text-align: center;
	margin-top:15px;
}

.header .header_con ul li a{	
	font-size: 16px;
	text-decoration:none;
	color:#222;
}

.top{
	width:100%;
	height:85px;
	position: absolute;
	z-index:999;
}

.top .logo{
	display: inline-block;
	margin-left:2%;
	width:200px;
	margin-top:5px;
}

.top .nav{
	width:750px;
	height:70px;
	line-height:70px;
	float: right;
	font-size:15px;
	text-align:center;
	margin-top:5px;
}

.top .nav li{
	display:inline-block;
	width:100px;
	height:100%;	
text-align:center;
}

.top .nav li a{
	color:#666;
	text-decoration: none;
	display:block;

}

.top .nav li a:hover{
	color:#DF0A18;

}



.top .top_bg{
	width:100%;
	height:100%;
	background:#F8F8F8;
	position: absolute;
	top:0px;
	left:0px;
	z-index:-1;
/*
      filter:alpha(opacity=70);  
      -moz-opacity:0.7;  
      -khtml-opacity: 0.7;  
      opacity: 0.7; */
}


.top .top_tel{
	line-height:35px;
	height:25px;
	font-size:14px;
	color:#4678BE;
	text-align:right;
	padding-right:45px;
	font-weight:bold;
}


.head-text{
	text-align:center;
	font-size:38px;
	position:absolute;
	top:125px;
	margin-top:-15px;
	width:100%;
	z-index:999;
	color:#FFF;
}

/**********  top end   ************/
.sidebar {
    position: fixed;
    right: 0;
    top: 50%;
    margin-top: -80px;
    width: 55px;
    background: rgba(0,0,0,0.3);
    padding: 12px 0 0 0;
    border-radius: 8px 0 0 8px;
    z-index: 999999;
}
.sidebar li {
    height: 50px;
    width: 160px;
    padding-left: 17px;
    border-radius: 8px 0 0 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.sidebar li img {
    display: block;
}
.sidebar li:hover{

	margin-left: -105px; background: rgba(0,0,0,0.6); 

}


/**************** footer *****************/

.footer{
	height: 160px;
	width:100%;
	background: #cd122d;
		padding-top:50px;
}


.footer ul{
	width:100%;
	height:135px;
}

.footer ul li{
  margin-right: 4%;
	width:20%;
	text-align: center;
	float: left;
}

.footer p{
	width:100%;
	height:45px;
	line-height: 45px;
	background: #111;
	color:#FFF;
	font-size:14px;
}

.footer p .ft_lf{
	float:left;
	margin-left:50px;
}


.footer p .ft_rt{
	float:right;
	margin-right:50px;
}
/*
.go_top{

	position:fixed;
	right:0px;
	bottom:50px;
	z-index:999;
	width:50px;
	height:102px;
}

.go_top .top_go_top{
	background:url('../images/top.png');
	width:50px;
	height:52px;
	cursor:pointer;
}

.go_top .top_contact{
		background:url('../images/12.png');
		width:50px;
		height:50px;
		position:absolute;
		right:0px;bottom:0px;
		cursor:pointer;
}

*/
